.taskBg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  text-align: left;
  color: orange;
}
.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}
.taskBg div {
  display: flex;
  align-items: center;
}
