@import "../../App.scss";

.task {
  padding: 1rem 0 0;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: $color-1;
    font-weight: 500;

    & .taskDone .task__content {
      text-decoration: line-through;
      opacity: 0.3;
    }

    & div {
      display: flex;
      align-items: center;
    }

    &__iconsWrapper {
      margin: 0 0 0 0.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;

    &__title {
      padding: 0 0.5rem;
    }

    &-when {
      padding: 0.1rem 0.5rem 0.2rem;
      margin-right: 0.3rem;
      font-size: 11px;
      background-color: #ccc;
      border-radius: 2rem;
    }
  }
}

.checkbox__container {
  margin: 0 auto;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  position: relative;

  & label {
    height: 40px;
    width: 40px;
    z-index: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    & div {
      height: 20px;
      width: 20px;
      border: solid 2px rgb(85, 88, 129);
      margin: 10px;
      border-radius: 50%;
      transform: rotate(45deg);
      transition: all 100ms ease-in-out, border 50ms ease 100ms;
    }
  }

  & input {
    height: 40px;
    width: 40px;
    margin: 0;
    opacity: 0;
    z-index: 1;
    position: relative;
    cursor: pointer;

    &:checked + label > div {
      border-radius: 0;
      border-top: 0;
      border-left: 0;
      border-color: rgba(125, 119, 181, 0.9);
      height: 20px;
      width: 10px;
      margin-top: 3px;
      margin-left: 18px;
      transform: rotate(40deg);
      transition: all 150ms ease-in-out;
    }
  }
}

.checkbox__container-important {
  position: relative;
  margin: 0 1rem;

  & label {
    position: absolute;
    top: -13px;
    left: -8px;
    font-size: 1.8rem;
    color: #ccc;
    cursor: pointer;
  }

  & input[type="checkbox"] {
    visibility: hidden;

    &:checked + label {
      color: rgb(226, 10, 10);
    }
  }
}

.checkbox__container-important--disabled {
  position: relative;
  margin: 0 1rem;

  & label {
    position: absolute;
    top: -13px;
    left: -8px;
    font-size: 1.8rem;
    color: #ccc;
    cursor: pointer;
  }

  & input[type="checkbox"] {
    visibility: hidden;

    &:checked + label {
      color: #ccc;
    }
  }
}

.hideIcon {
  visibility: hidden;
}
.edit-icon,
.delete-icon {
  font-size: 1.2rem;
  color: $color-3;
  cursor: pointer;
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .task__content {
    font-size: 15px;
  }
}
