* {
  padding: 0;
  margin: 0;
}

$color-1: #282c34;
$color-2: white;
$color-3: rgb(113, 111, 111);
$color-3a: rgba(113, 111, 111, 0.7);
$color-4: rgb(217, 215, 215);
$color-5: rgb(45, 154, 2);
$color-5a: rgba(188, 232, 171, 0.7);
$color-6: rgb(226, 10, 10);
$color-6a: rgba(246, 164, 164, 0.7);
$color-7: rgba(125, 119, 181, 0.9);
$color-8: rgb(85, 88, 129);
$color-9: rgb(204, 204, 204, 0.7);

::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: $color-2;
  padding: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: $color-7;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
}
::-webkit-scrollbar-thumb:hover {
  color: $color-6;
}

#root {
  height: 100vh;
}
body {
  text-align: center;
  background-color: $color-1;
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
}
.container {
  width: 50%;
  transform: translateX(50%);
}
.App__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  min-height: 3rem;
  padding-top: 1rem;
  font-size: calc(10px + 2vmin);
  color: $color-2;

  &-buttons button {
    color: $color-1;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    width: 7rem;
    border-radius: 2rem;
    border: 1px solid $color-3;
    cursor: pointer;
  }
}

.App__main {
  height: 80vh;
  margin-top: 2rem;
  padding: 0.2rem 0.4rem;
  background-color: $color-2;
  border-radius: 1rem;

  &__listContainer {
    word-wrap: break-word;
    height: 69vh;
    overflow: auto;
    padding: 1rem 2rem;

    &-dayOn {
      text-align: left;
      font-weight: bold;
      padding: 1rem 0 0.5rem;
    }

    &-dayOff {
      display: none;
    }

    &-list {
      list-style: none;
    }
  }
}
.App__form {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 7vh;
  box-shadow: 0px -6px 5px 0px #e4e1e4;
  border-radius: 0 0 2rem 2rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .container {
    width: 80%;
    transform: translateX(13%);
  }
  .App__main {
    margin-top: 0.5rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    transform: translateX(6%);
  }
  .App__header {
    &-buttons button {
      color: $color-1;
      font-weight: bold;
      padding: 0.5rem;
      margin-left: 0.2rem;
      width: 6rem;
    }
  }
  .App__main {
    margin-top: 1rem;

    &__listContainer {
      padding: 0.5rem;
    }
  }
  h3 {
    font-size: 17px;
  }
}
